@model AgregarProyectoViewModel

@{
    ViewData["Title"] = "Agregar proyecto";
    ViewBag.BreadcrumbIcon = "fa-project-diagram";
    ViewBag.Breadcrumbs = new[] { "Proyectos", "Agregar" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("AgregarProyecto", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "")
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre)
                                    @Html.TextBoxFor(model => model.Nombre, "", new { @class = "form-control form-control-sm", placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Área</label>
                                    @Html.DropDownListFor(model => model.IdArea, new List<SelectListItem>(ViewBag.Areas), "", new { @class = "form-control form-control-sm", id = "area-select" })
                                    @Html.ValidationMessageFor(model => model.IdArea)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    @Html.DropDownListFor(model => model.IdContrato, new List<SelectListItem>(ViewBag.Contratos), "", new { @class = "form-control form-control-sm", id = "cliente-select" })
                                    @Html.ValidationMessageFor(model => model.IdContrato)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion)
                                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="FechaInicio">Fecha de inicio</label>
                                    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.FechaInicio)
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="FechaFin">Fecha de finalización</label>
                                    @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "", @type = "date" } })
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HorasEstimadas)
                                    @Html.TextBoxFor(model => model.HorasEstimadas, new { @class = "form-control form-control-sm", @type = "number", @min = "0", @max = "10000" })
                                    @Html.ValidationMessageFor(model => model.HorasEstimadas)
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Responsable</label>
                                    @Html.DropDownListFor(model => model.IdResponsable, new List<SelectListItem>(ViewBag.Responsables), "", new { @class = "form-control form-control-sm", id = "responsable-select" })
                                    @Html.ValidationMessageFor(model => model.IdResponsable)
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <input value="Guardar" class="btn btn-sm btn-primary" type="submit"/>
                                @Html.ActionLink("Cancelar", "Proyectos", null, null, new { @class = "btn btn-sm btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function() {
            initSelect2('#area-select', 'Seleccione área');
            initSelect2('#cliente-select', 'Seleccione cliente');
            initSelect2('#responsable-select', 'Seleccione responsable');
        });
    </script>
}
