@model plani.Models.AsignacionesIndexViewModel

@{
    ViewData["Title"] = "Asignaciones";
    ViewBag.BreadcrumbIcon = "fa-tasks";
    ViewBag.Breadcrumbs = new[] { "Asignaciones" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <a asp-action="Colaboradores" asp-controller="Cuentas" class="btn btn-sm btn-primary">Agregar asignación</a>
                    <hr/>

                    @using (Html.BeginForm("Asignaciones", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdUsuario)
                                    @Html.DropDownListFor(model => model.IdUsuario, new List<SelectListItem>(ViewBag.Colaboradores), "Todos", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdProyecto)
                                    @Html.DropDownListFor(model => model.IdProyecto, new List<SelectListItem>(ViewBag.Proyectos), "Todos", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <span class="d-block d-sm-none d-md-block"><label>&nbsp;</label></span>
                                <input value="Filtrar" class="btn btn-sm btn-primary" type="submit"/>
                                @* @Html.ActionLink("Exportar", "Construccion", null, null, new { @class = "btn btn-sm btn-secondary" }) *@
                            </div>
                        </div>
                    }

                    <hr/>

                    @if (Model.ProyectosAsignaciones.Count == 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            No hay asignaciones registradas.
                        </div>
                    }

                    @foreach (var proyecto in Model.ProyectosAsignaciones)
                    {
                        <div class="card mb-4">
                            <div class="card-header p-0-5">
                                <h6 class="mb-0"><span class="text-sc">@proyecto.NombreCliente</span> | @proyecto.NombreProyecto</h6>
                                @*<div class="text-muted">
                                    Asignaciones: @proyecto.CantidadAsignaciones |
                                    Horas Estimadas: @proyecto.TotalHorasEstimadas
                                </div>*@
                            </div>
                            <div class="card-body pl-4 py-2">
                                @foreach (var asignacion in proyecto.Asignaciones)
                                {
                                    <p class="mb-0">
                                        <span class="font-weight-bold">@asignacion.ApplicationUser.FullName</span> |
                                        <span>@asignacion.Descripcion</span>
                                    </p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
