@model IndexClientesViewModel

@{
    ViewData["Title"] = "Clientes";
    ViewBag.BreadcrumbIcon = "fa-building";
    ViewBag.Breadcrumbs = new[] { "Clientes" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                    {
                        <a asp-action="AgregarCliente" class="btn btn-sm btn-primary">Agregar cliente</a>
                        <hr/>
                    }

                    <div class="table-responsive">
                        <table id="tablaClientes" class="table table-hover table-sm text-nowrap">
                            <thead class="text-dark">
                            <tr>
                                <th class="col-w-30">Nombre / Identificación</th>
                                <th class="col-w-30">Tipo / Dirección</th>
                                <th class="col-w-25">Descripción</th>
                                <th class="col-w-15"></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model.Clientes)
                            {
                                <tr>
                                    <td>
                                        <div>@item.Nombre</div>
                                        <small class="text-muted">@item.Identificacion</small>
                                    </td>
                                    <td>
                                        <div>@item.TipoCliente.Nombre</div>
                                        <small class="text-muted" title="@item.Direccion">@item.TruncatedDireccion</small>
                                    </td>
                                    <td>@item.TruncatedDescripcion</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-outline-secondary font-weight-bold" asp-controller="Clientes" asp-action="DetalleCliente" asp-route-id="@item.Id">
                                                Detalle
                                            </a>

                                            @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                                            {
                                                <a class="btn btn-sm btn-outline-primary" asp-controller="Clientes" asp-action="EditarCliente" asp-route-id="@item.Id">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-sm btn-outline-danger" asp-controller="Clientes" asp-action="EliminarCliente" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaClientes').DataTable({
                "order": [[0, "asc"]],
                "language": {
                    "url": "/dataTables_es-ES.json"
                }
            });
        });
    
        function limpiarFiltro() {
            document.getElementById("PalabraClave").value = "";
            window.location.href = window.location.href.split('?')[0];
        }
	</script>
}
