@model IEnumerable<Contrato>

@{
    ViewData["Title"] = "Contratos";
    ViewBag.BreadcrumbIcon = "fa-file-contract";
    ViewBag.Breadcrumbs = new[] { "Contratos" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <a asp-action="AgregarContrato" class="btn btn-sm btn-secondary">Agregar contrato</a>

                    <hr/>

                    <div class="table-responsive">
                        <table class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th class="text-secondary">Identificacion</th>
                                <th class="text-secondary">Área</th>
                                <th class="text-secondary">Cliente</th>
                                <th class="text-secondary">Inicio</th>
                                <th class="text-secondary">Descripcion</th>
                                <th class="text-secondary"></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Identificacion</td>
                                    <td>@item.Area.Nombre</td>
                                    <td>@item.Cliente.Nombre</td>
                                    <td>@item.FechaInicio.ToString("yyyy-MM-dd")</td>
                                    <td>@item.TruncatedDescripcion</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-light text-primary" asp-controller="Clientes" asp-action="DetalleContrato" asp-route-id="@item.Id">
                                                Detalle
                                            </a>
                                            <a class="btn btn-sm btn-light" asp-controller="Clientes" asp-action="EditarContrato" asp-route-id="@item.Id">
                                                Modificar
                                            </a>
                                            <a class="btn btn-sm btn-light text-danger" asp-controller="Clientes" asp-action="EliminarContrato" asp-route-id="@item.Id">
                                                Eliminar
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
		
	</script>
}
