@model Sesion

@{
    ViewData["Title"] = "Sesiones";
    ViewBag.BreadcrumbIcon = "fa-clock";
    ViewBag.Breadcrumbs = new[] { "Sesiones", "Detalle" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <b>Descripción de la sesión:</b> @Html.DisplayFor(model => model.Descripcion)
                            </p>
                        </div>

                        <div class="col-sm-12">
                            <p>Servicio: <b>@Model.Servicio.Nombre</b></p>
                            <p>Cliente: <b>@Model.Proyecto.Contrato.Cliente.Nombre</b></p>
                        </div>

                        <div class="col-sm-12">
                            <p>Horas: @Model.Horas</p>
                            <p>Minutos: @Model.Minutes</p>

                            @if (Model.FechaInicio is { Hour: 6, Minute: 0, Second: 0 })
                            {
                                <p>Inicio:&nbsp;<b>@(Model.DateCreated.AddHours(-6).ToString("dd-MM-yyyy"))</b></p>
                            }
                            else
                            {
                                <p>Inicio:&nbsp;<b>@(Model.DateCreated.AddHours(-6).ToString("dd-MM-yyyy hh:mm:ss tt"))</b></p>
                            }

                            @if (Model.FechaFin is { Hour: 6, Minute: 0, Second: 0 })
                            {
                                <p>Fin:&nbsp;<b>@(Model.FechaFin?.AddHours(-6).ToString("dd-MM-yyyy"))</b></p>
                            }
                            else
                            {
                                <p>Fin:&nbsp;<b>@(Model.FechaFin?.AddHours(-6).ToString("dd-MM-yyyy hh:mm:ss tt"))</b></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
