@model Sesion

@{
    ViewBag.Title = "Sesiones";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title">Sesión</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href='@Url.Action("Administracion", "Home")'>Administración</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Sesiones")">Sesiones</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Detalle de sesión
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <b>Descripción de la sesión:</b> @Html.DisplayFor(model => model.Descripcion)
                            </p>
                        </div>

                        <div class="col-sm-12">
                            <p>Servicio:&nbsp;<b>@Html.DisplayFor(model => model.Servicio.Nombre)</b></p>
                            <p>Cliente:&nbsp;<b>@Html.DisplayFor(model => model.Proyecto.Contrato.Cliente.Nombre)</b></p>
                        </div>

                        <div class="col-sm-12">
                            <p>Horas: @Model.Horas</p>
                            <p>Minutos: @Model.Minutes</p>

                            @if (Model.FechaInicio is { Hour: 6, Minute: 0, Second: 0 })
                            {
                                <p>Inicio:&nbsp;<b>@(Model.DateCreated.AddHours(-6).ToString("dd-MM-yyyy"))</b></p>
                            }
                            else
                            {
                                <p>Inicio:&nbsp;<b>@(Model.DateCreated.AddHours(-6).ToString("dd-MM-yyyy hh:mm:ss tt"))</b></p>
                            }

                            @if (Model.FechaFin is { Hour: 6, Minute: 0, Second: 0 })
                            {
                                <p>Fin:&nbsp;<b>@(Model.FechaFin?.AddHours(-6).ToString("dd-MM-yyyy"))</b></p>
                            }
                            else
                            {
                                <p>Fin:&nbsp;<b>@(Model.FechaFin?.AddHours(-6).ToString("dd-MM-yyyy hh:mm:ss tt"))</b></p>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "MisSesiones", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
