@model TipoCliente

@{
    ViewData["Title"] = "Detalle de tipo de cliente";
    ViewBag.BreadcrumbIcon = "fa-building";
    ViewBag.Breadcrumbs = new[] { "Tipos de cliente", "Detalle" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Tipo de cliente: <span class="font-weight-bold">@Model.Nombre</span></h6>
                            <p>@Model.Descripcion</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Clientes asignados al Tipo</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Nombre</th>
                                        <th class="text-secondary">Descripción</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody>

                                    @foreach (var cliente in Model.Clientes)
                                    {
                                        <tr>
                                            <td>@cliente.Nombre</td>
                                            <td>@cliente.TruncatedDescripcion</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "TiposCliente", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
