@model Cliente

@{
    ViewBag.Title = "Clientes";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title">Cliente</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href='@Url.Action("Administracion", "Home")'>Administración</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Clientes")">Clientes</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Detalle de cliente
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="font-weight-bold">@Html.DisplayFor(model => model.Identificacion) - @Html.DisplayFor(model => model.Nombre)</h6>
                            <p>@Html.DisplayFor(model => model.Descripcion)</p>
                        </div>

                        <div class="col-sm-12">
                            <p>Tipo de cliente:&nbsp;<b>@Html.DisplayFor(model => model.TipoCliente.Nombre)</b></p>
                            <p>Dirección:&nbsp;<b>@Html.DisplayFor(model => model.Direccion)</b></p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="font-weight-bold">Contratos</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.Contratos.FirstOrDefault().Identificacion)</th>
                                        <th>Área</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    @foreach (var contrato in Model.Contratos)
                                    {
                                        <tr>
                                            <td>@contrato.Identificacion</td>
                                            <td>@contrato.Area.Nombre</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "Clientes", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
