@model DetalleContratoViewModel

@{
    ViewData["Title"] = "Contratos";
    ViewBag.BreadcrumbIcon = "fa-file-contract";
    ViewBag.Breadcrumbs = new[] { "Contratos", "Detalle" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Contrato: <span class="font-weight-bold">@Model.Identificacion</span></h6>
                            <p>@Model.Descripcion</p>
                        </div>

                        <div class="col-sm-12">
                            <p>Fecha de inicio: <b>@Model.LongDateFechaInicio</b></p>
                            <p>Área: <b>@Model.Area.Nombre</b></p>
                            <p>Cliente: <b>@Model.Cliente.Nombre</b></p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Proyectos del Contrato</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Nombre</th>
                                        <th class="text-secondary">Área</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    @foreach (var proyecto in Model.Proyectos)
                                    {
                                        <tr>
                                            <td>@proyecto.Nombre</td>
                                            <td>@proyecto.Area.Nombre</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Contratos", "Contratos", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
