@model Contrato

@{
    ViewData["Title"] = "Modificar contrato";
    ViewBag.BreadcrumbIcon = "fa-file-contract";
    ViewBag.Breadcrumbs = new[] { "Contratos", "Editar" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("EditarContrato", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "")
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Identificacion)
                                    @Html.TextBoxFor(model => model.Identificacion, "", new { @class = "form-control form-control-sm", placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Área</label>
                                    @Html.DropDownListFor(model => model.IdArea, new List<SelectListItem>(ViewBag.Areas), "Seleccione un área", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.IdArea)
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    @Html.DropDownListFor(model => model.IdCliente, new List<SelectListItem>(ViewBag.Clientes), "Seleccione un cliente", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.IdCliente)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="FechaInicio">Fecha de inicio</label>
                                    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.FechaInicio)
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion)
                                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control form-control-sm", placeholder = "", rows = 5, cols = 40 })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <input value="Guardar" class="btn btn-sm btn-primary" type="submit"/>
                                @Html.ActionLink("Regresar", "Contratos", null, null, new { @class = "btn btn-sm btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
