@model EliminarContratoViewModel

@{
    ViewData["Title"] = "Eliminar contrato";
    ViewBag.BreadcrumbIcon = "fa-file-contract";
    ViewBag.Breadcrumbs = new[] { "Contratos", "Eliminar" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("EliminarContrato", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Identificacion)
                        @Html.HiddenFor(model => model.Cliente.Nombre)

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h6>
                                    ¿Seguro que desea eliminar el contrato <b>@Html.DisplayFor(model => model.Identificacion)</b> del cliente: <b>@Html.DisplayFor(model => model.Cliente.Nombre)</b>?
                                </h6>
                            </div>

                            <div class="col-12">
                                <input value="Eliminar" class="btn btn-sm btn-danger" type="submit"/>
                                @Html.ActionLink("Cancelar", "Contratos", null, null, new { @class = "btn btn-sm btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
