@model Asignacion

@{
    ViewData["Title"] = "Eliminar asignacion";
    ViewBag.BreadcrumbIcon = "fa-tasks";
    ViewBag.Breadcrumbs = new[] { "Asignaciones", "Eliminar" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("EliminarAsignacion", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h6>
                                    ¿Seguro que desea eliminar la asignación de <b>@Html.DisplayFor(model => model.ApplicationUser.FullName)</b> del proyecto <b>@Html.DisplayFor(model => model.Proyecto.Nombre)</b>?
                                </h6>
                            </div>

                            <div class="col-12">
                                <input value="Eliminar" class="btn btn-sm btn-danger" type="submit"/>
                                @Html.ActionLink("Regresar", "Colaboradores", "Cuentas", null, new { @class = "btn btn-sm btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
