@model plani.Models.PausarSesionModel

@{
    ViewData["Title"] = "Pausar sesión";
    ViewBag.BreadcrumbIcon = "fa-clock";
    ViewBag.Breadcrumbs = new[] { "Sesiones", "Pausar" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("PausarSesion", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.IdSesion)
                        @Html.HiddenFor(model => model.IdProyecto)
                        @Html.HiddenFor(model => model.IdServicio)

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "")
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="form-group">
                                    <label>Proyecto: </label>
                                    @Html.DisplayTextFor(model => model.NombreProyecto)
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Servicio: </label>
                                    @Html.DisplayTextFor(model => model.NombreServicio)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion)
                                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <input value="Pausar" class="btn btn-sm btn-primary" type="submit"/>
                                @Html.ActionLink("Regresar", "MisSesiones", null, null, new { @class = "btn btn-sm btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
