@model IndexProyectosViewModel

@{
    ViewData["Title"] = "Proyectos";
    ViewBag.BreadcrumbIcon = "fa-project-diagram";
    ViewBag.Breadcrumbs = new[] { "Proyectos" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                    {
                        <a asp-action="AgregarProyecto" class="btn btn-sm btn-primary">Agregar proyecto</a>
                        <hr/>
                    }

                    <div class="table-responsive">
                        <table id="tablaProyectos" class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Área</th>
                                <th>Cliente</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model.Proyectos)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.Area.Nombre</td>
                                    <td>@item.Contrato.Cliente.Nombre</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-light text-primary" asp-controller="Clientes" asp-action="DetalleProyecto" asp-route-id="@item.Id">
                                                Detalle
                                            </a>

                                            @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                                            {
                                                <a class="btn btn-sm btn-light" asp-controller="Clientes" asp-action="EditarProyecto" asp-route-id="@item.Id">
                                                    Modificar
                                                </a>
                                                <a class="btn btn-sm btn-light text-danger" asp-controller="Clientes" asp-action="EliminarProyecto" asp-route-id="@item.Id">
                                                    Eliminar
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaProyectos').DataTable({
                "language": {
                    "url": "/dataTables_es-ES.json"
                }
            });
        });
    </script>
}
