@model IndexProyectosViewModel

@{
    ViewData["Title"] = "Proyectos";
    ViewBag.BreadcrumbIcon = "fa-project-diagram";
    ViewBag.Breadcrumbs = new[] { "Proyectos" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                    {
                        <a asp-action="AgregarProyecto" class="btn btn-sm btn-primary">Agregar proyecto</a>
                        <hr/>
                    }

                    <div class="table-responsive">
                        <table id="tablaProyectos" class="table table-hover table-sm text-nowrap">
                            <thead class="text-dark">
                            <tr>
                                <th class="col-w-45">Proyecto / Cliente</th>
                                <th class="col-w-40">Área</th>
                                <th class="col-w-15"></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model.Proyectos)
                            {
                                <tr>
                                    <td>
                                        <div>@item.Nombre</div>
                                        <small class="text-muted">@item.Contrato.Cliente.Nombre</small>
                                    </td>
                                    <td>@item.Area.Nombre</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-outline-secondary font-weight-bold" asp-controller="Clientes" asp-action="DetalleProyecto" asp-route-id="@item.Id">
                                                Detalle
                                            </a>

                                            @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                                            {
                                                <a class="btn btn-sm btn-outline-primary" asp-controller="Clientes" asp-action="EditarProyecto" asp-route-id="@item.Id">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-sm btn-outline-danger" asp-controller="Clientes" asp-action="EliminarProyecto" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaProyectos').DataTable({
                "order": [[0, "asc"]],
                "language": {
                    "url": "/dataTables_es-ES.json"
                }
            });
        });
    </script>
}
