@model plani.Models.SesionesIndexViewModel

@{
    ViewBag.Title = "Sesiones";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title">Sesiones</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href='@Url.Action("Administracion", "Home")'>Administración</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Sesiones
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @if (Model.ProyectosSesiones.Count == 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            No hay asignaciones registradas.
                        </div>
                    }

                    @using (Html.BeginForm("Sesiones", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdUsuario)
                                @Html.DropDownListFor(model => model.IdUsuario, new List<SelectListItem>(ViewBag.Colaboradores), "Seleccione un colaborador", new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-12">
                            <input value="Filtrar" class="btn btn-sm btn-primary" type="submit"/>
                            @Html.ActionLink("Exportar", "ExportarSesiones", null, null, new { @class = "btn btn-sm btn-secondary" })
                        </div>
                    </div>
                    }

                    <div class="row mb-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Resumen General</h6>
                                    <p>Total de Sesiones: @Model.TotalSesiones</p>
                                    <p>Total de Horas: @Model.TotalHoras</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @foreach (var proyecto in Model.ProyectosSesiones)
                    {
                        <div class="card mb-4">
                            <div class="card-header">
                                <h6 class="text-sc">@proyecto.NombreCliente</h6>
                                <h6>@proyecto.NombreProyecto</h6>
                                <div class="text-muted">
                                    Asignaciones: @proyecto.CantidadSesiones |
                                    Horas: @proyecto.TotalHoras
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Colaborador</th>
                                            <th>Descripción</th>
                                            <th>Horas</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var sesion in proyecto.Sesiones)
                                        {
                                            <tr>
                                                <td>@sesion.ApplicationUser.FullName</td>
                                                <td title="@sesion.Descripcion">@sesion.TruncatedDescripcion</td>
                                                <td>@sesion.Horas</td>
                                                <td class="text-right">
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                                        <a class="btn btn-sm btn-light text-primary" asp-controller="Clientes" asp-action="DetalleSesion" asp-route-id="@sesion.Id">
                                                            Detalle
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
