@model TipoCliente

@{
    ViewBag.Title = "Tipos de cliente";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title">Tipo de cliente</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href='@Url.Action("Administracion", "Home")'>Administración</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("TiposCliente")">Tipos de cliente</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Detalle de tipo de cliente
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="font-weight-bold">@Html.DisplayFor(model => model.Nombre)</h6>
                            <p>@Html.DisplayFor(model => model.Descripcion)</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="font-weight-bold">Clientes</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.Clientes.FirstOrDefault().Nombre)</th>
                                        <th>@Html.DisplayNameFor(m => m.Clientes.FirstOrDefault().Descripcion)</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody>

                                    @foreach (var cliente in Model.Clientes)
                                    {
                                        <tr>
                                            <td>@cliente.Nombre</td>
                                            <td>@cliente.TruncatedDescripcion</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "TiposCliente", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
