@model IEnumerable<TipoCliente>

@{
    ViewBag.Title = "Tipos de Cliente";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title">Tipos de Cliente</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Administracion", "Home")">Administración</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Tipos de Cliente
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <a asp-action="AgregarTipoCliente" class="btn btn-sm btn-primary">Agregar tipo de cliente</a>

                    <hr/>

                    <div class="table-responsive">
                        <table class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-light" asp-controller="Clientes" asp-action="EditarTipoCliente" asp-route-id="@item.Id">
                                                Modificar
                                            </a>
                                            <a class="btn btn-sm btn-light text-danger" asp-controller="Clientes" asp-action="EliminarTipoCliente" asp-route-id="@item.Id">
                                                Eliminar
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
