@model Area

@{
    ViewBag.Title = "Áreas";
    ViewBag.BreadcrumbIcon = "fa-briefcase";
    ViewBag.Breadcrumbs = new[] { "Áreas", "Detalle" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Área: <span class="font-weight-bold">@Model.Nombre</span></h6>
                            <p>@Model.Descripcion</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Servicios asignados al Área</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Nombre</th>
                                        <th class="text-secondary">Descripción</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @foreach (var servicio in Model.Servicios)
                                    {
                                        <tr>
                                            <td>@servicio.Nombre</td>
                                            <td>@servicio.TruncatedDescripcion</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    @* <div class="row mt-4"> *@
                    @*     <div class="col-12"> *@
                    @*         <h6 class="font-weight-bold">Contratos</h6> *@
                    @*         <div class="table-responsive"> *@
                    @*             <table class="table table-hover table-sm text-nowrap"> *@
                    @*                 <thead> *@
                    @*                 <tr> *@
                    @*                     <th>@Html.DisplayNameFor(m => m.Contratos.FirstOrDefault().Identificacion)</th> *@
                    @*                     <th>Cliente</th> *@
                    @*                 </tr> *@
                    @*                 </thead> *@
                    @*                 <tbody> *@
                    @* *@
                    @*                 @foreach (var contrato in Model.Contratos) *@
                    @*                 { *@
                    @*                     <tr> *@
                    @*                         <td>@contrato.Identificacion</td> *@
                    @*                         <td>@contrato.Cliente.Nombre</td> *@
                    @*                     </tr> *@
                    @*                 } *@
                    @* *@
                    @*                 </tbody> *@
                    @*             </table> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Proyectos asignados al Área</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Nombre</th>
                                        <th class="text-secondary">Cliente</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @foreach (var proyecto in Model.Proyectos)
                                    {
                                        <tr>
                                            <td>@proyecto.Nombre</td>
                                            <td>@proyecto.Contrato.Cliente.Nombre</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "Areas", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>