@model ServicioDetalleViewModel

@{
    ViewData["Title"] = "Detalle de servicio";
    ViewBag.BreadcrumbIcon = "fa-briefcase";
    ViewBag.Breadcrumbs = new[] { "Servicios", "Detalle de servicio" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Servicio: <span class="font-weight-bold">@Model.Nombre</span></h6>
                            <p>@Model.Descripcion</p>
                        </div>

                        <div class="col-sm-12">
                            <p>Área: <b>@Model.AreaNombre</b></p>
                            <p>Modalidad: <b>@Model.ModalidadNombre</b></p>
                        </div>
                    </div>

                    @if (Model.ProyectosUsandoServicio != null && Model.ProyectosUsandoServicio.Any())
                    {
                        <div class="row mt-4">
                            <div class="col-12">
                                <h6 class="text-dark">Proyectos donde se ha usado este servicio</h6>
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-secondary">Proyecto</th>
                                                <th class="text-secondary">Cliente</th>
                                                <th class="text-secondary">Área</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var proyecto in Model.ProyectosUsandoServicio)
                                            {
                                                <tr>
                                                    <td>@proyecto.NombreProyecto</td>
                                                    <td>@proyecto.NombreCliente</td>
                                                    <td>@proyecto.NombreArea</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }

                    @* <div class="row mt-4"> *@
                    @*     <div class="col-12"> *@
                    @*         <h6 class="font-weight-bold">Servicios</h6> *@
                    @*         <div class="table-responsive"> *@
                    @*             <table class="table table-hover table-sm text-nowrap"> *@
                    @*                 <thead> *@
                    @*                 <tr> *@
                    @*                     <th>@Html.DisplayNameFor(m => m.Servicios.FirstOrDefault().Nombre)</th> *@
                    @*                     <th>@Html.DisplayNameFor(m => m.Servicios.FirstOrDefault().Descripcion)</th> *@
                    @*                 </tr> *@
                    @*                 </thead> *@
                    @*                 <tbody> *@
                    @* *@
                    @*                 @foreach (var servicio in Model.Servicios) *@
                    @*                 { *@
                    @*                     <tr> *@
                    @*                         <td>@servicio.Nombre</td> *@
                    @*                         <td>@servicio.TruncatedDescripcion</td> *@
                    @*                     </tr> *@
                    @*                 } *@
                    @* *@
                    @*                 </tbody> *@
                    @*             </table> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@

                    @* <div class="row mt-4"> *@
                    @*     <div class="col-12"> *@
                    @*         <h6 class="font-weight-bold">Contratos</h6> *@
                    @*         <div class="table-responsive"> *@
                    @*             <table class="table table-hover table-sm text-nowrap"> *@
                    @*                 <thead> *@
                    @*                 <tr> *@
                    @*                     <th>@Html.DisplayNameFor(m => m.Contratos.FirstOrDefault().Identificacion)</th> *@
                    @*                     <th>Cliente</th> *@
                    @*                 </tr> *@
                    @*                 </thead> *@
                    @*                 <tbody> *@
                    @* *@
                    @*                 @foreach (var contrato in Model.Contratos) *@
                    @*                 { *@
                    @*                     <tr> *@
                    @*                         <td>@contrato.Identificacion</td> *@
                    @*                         <td>@contrato.Cliente.Nombre</td> *@
                    @*                     </tr> *@
                    @*                 } *@
                    @* *@
                    @*                 </tbody> *@
                    @*             </table> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@

                    @* <div class="row mt-4"> *@
                    @*     <div class="col-12"> *@
                    @*         <h6 class="font-weight-bold">Proyectos</h6> *@
                    @*         <div class="table-responsive"> *@
                    @*             <table class="table table-hover table-sm text-nowrap"> *@
                    @*                 <thead> *@
                    @*                 <tr> *@
                    @*                     <th>@Html.DisplayNameFor(m => m.Proyectos.FirstOrDefault().Nombre)</th> *@
                    @*                     <th>Contrato</th> *@
                    @*                     <th>Cliente</th> *@
                    @*                 </tr> *@
                    @*                 </thead> *@
                    @*                 <tbody> *@
                    @* *@
                    @*                 @foreach (var proyecto in Model.Proyectos) *@
                    @*                 { *@
                    @*                     <tr> *@
                    @*                         <td>@proyecto.Nombre</td> *@
                    @*                         <td>@proyecto.Contrato.Identificacion</td> *@
                    @*                         <td>@proyecto.Contrato.Cliente.Nombre</td> *@
                    @*                     </tr> *@
                    @*                 } *@
                    @* *@
                    @*                 </tbody> *@
                    @*             </table> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Servicios", "Servicios", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
