@model Modalidad

@{
    ViewData["Title"] = "Detalle de modalidad";
    ViewBag.BreadcrumbIcon = "fa-briefcase";
    ViewBag.Breadcrumbs = new[] { "Modalidades", "Detalle de modalidad" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Modalidad: <span class="font-weight-bold">@Model.Nombre</span></h6>
                            <p>@Model.Descripcion</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Servicios asignados a la Modalidad</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Nombre</th>
                                        <th class="text-secondary">Descripción</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @foreach (var servicio in Model.Servicios)
                                    {
                                        <tr>
                                            <td>@servicio.Nombre</td>
                                            <td>@servicio.TruncatedDescripcion</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "Modalidades", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
