@model Area

@{
    ViewData["Title"] = "Modificar Área";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title">@ViewData["Title"]</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Administracion" asp-controller="Home">Administración</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Areas">Áreas</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Modificar
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("EditarArea", "Servicios", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre)
                                    @Html.TextBoxFor(model => model.Nombre, "", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Nombre)
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion)
                                    <textarea asp-for="Descripcion" class="form-control" rows=5></textarea>
                                </div>
                            </div>

                            <div class="col-12">
                                <input value="Guardar" class="btn btn-sm btn-primary" type="submit"/>
                                <a asp-action="Areas" class="btn btn-sm btn-secondary">Regresar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
