@model IEnumerable<Servicio>

@{
    ViewData["Title"] = "Servicios";
    ViewBag.BreadcrumbIcon = "fa-briefcase";
    ViewBag.Breadcrumbs = new[] { "Servicios" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">

                    @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                    {
                        <a asp-action="AgregarServicio" class="btn btn-sm btn-secondary">Agregar servicio</a>
                        <hr/>
                    }
                    
                    <div class="table-responsive">
                        <table class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th class="text-secondary">Nombre</th>
                                <th class="text-secondary">Descripcion</th>
                                <th class="text-secondary">Area</th>
                                <th class="text-secondary">Modalidad</th>
                                <th class="text-secondary"></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.TruncatedDescripcion</td>
                                    <td>@item.Area.Nombre</td>
                                    <td>@item.Modalidad.Nombre</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-light text-primary" asp-controller="Servicios" asp-action="DetalleServicio" asp-route-id="@item.Id">
                                                Detalle
                                            </a>

                                            @if (User.IsInRole("Administrador") || User.IsInRole("Coordinador"))
                                            {
                                                <a class="btn btn-sm btn-light" asp-controller="Servicios" asp-action="EditarServicio" asp-route-id="@item.Id">
                                                    Modificar
                                                </a>
                                                <a class="btn btn-sm btn-light text-danger" asp-controller="Servicios" asp-action="EliminarServicio" asp-route-id="@item.Id">
                                                    Eliminar
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
