@model IEnumerable<UsuariosIndexViewModel>

@{
    ViewData["Title"] = "Colaboradores";
    ViewBag.BreadcrumbIcon = "fa-users";
    ViewBag.Breadcrumbs = new[] { "Colaboradores" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th class="text-secondary">NumeroIdentificacion</th>
                                <th class="text-secondary">Nombre</th>
                                <th class="text-secondary">Correo</th>
                                <th class="text-secondary"></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NumeroIdentificacion</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Correo</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-light text-primary" asp-controller="Cuentas" asp-action="DetalleColaborador" asp-route-id="@item.IdUsuario">
                                                Detalle
                                            </a>
                                            <a class="btn btn-sm btn-light" asp-controller="Clientes" asp-action="AsignarProyecto" asp-route-id="@item.IdUsuario">
                                                Asignar proyecto
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
		
	</script>
}
