@model ApplicationUser

@{
    ViewData["Title"] = "Colaboradores";
    ViewBag.BreadcrumbIcon = "fa-users";
    ViewBag.Breadcrumbs = new[] { "Colaboradores", "Detalle" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Colaborador: <span class="font-weight-bold">@Model.FullName</span></h6>
                            <p>@Model.IdentificationNumber - @Model.Email</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Proyectos asignados al Colaborador</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Proyecto</th>
                                        <th class="text-secondary">Cliente</th>
                                        <th class="text-secondary">Horas estimadas</th>
                                        <th class="text-secondary">Descripción</th>
                                        <th class="text-secondary"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @foreach (var asignacion in Model.Asignaciones)
                                    {
                                        <tr>
                                            <td>@asignacion.Proyecto.Nombre</td>
                                            <td>@asignacion.Proyecto.Contrato.Cliente.Nombre</td>
                                            <td>@asignacion.HorasEstimadas</td>
                                            <td>@asignacion.Descripcion</td>
                                            <td class="text-right">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                                    <a class="btn btn-sm btn-light text-danger" asp-controller="Clientes" asp-action="EliminarAsignacion" asp-route-id="@asignacion.Id">
                                                        Eliminar
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "Colaboradores", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
