@model DetalleRolViewModel

@{
    ViewData["Title"] = "Detalle de rol";
    ViewBag.BreadcrumbIcon = "fa-users-cog";
    ViewBag.Breadcrumbs = new[] { "Roles", "Detalle" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Rol: <span class="font-weight-bold">@Model.Nombre</span></h6>
                            <p>@Model.Descripcion</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="text-dark">Usuarios con este Rol</h6>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-secondary">Usuario</th>
                                        <th class="text-secondary">Correo electrónico</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    @foreach (ApplicationUser usuario in Model.Usuarios)
                                    {
                                        <tr>
                                            <td>@usuario.FullName</td>
                                            <td>@usuario.Email.ToLower()</td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink("Regresar", "Roles", null, null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
