@model EditarRolViewModel

@{
    ViewData["Title"] = "Roles";
    ViewBag.BreadcrumbIcon = "fa-users-cog";
    ViewBag.Breadcrumbs = new[] { "Roles", "Editar" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("EditarRol", "Cuentas", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.IdRol)

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "")
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre)
                                    @Html.TextBoxFor(model => model.Nombre, "", new { @class = "form-control form-control-sm", placeholder = "Digite el nombre" })
                                    @Html.ValidationMessageFor(model => model.Nombre)
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion)
                                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <input value="Guardar" class="btn btn-sm btn-primary" type="submit"/>
                                    @Html.ActionLink("Cancelar", "Roles", null, null, new { @class = "btn btn-sm btn-outline-light text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
