@model IEnumerable<RolesIndexViewModel>

@{
    ViewData["Title"] = "Roles";
    ViewBag.BreadcrumbIcon = "fa-users-cog";
    ViewBag.Breadcrumbs = new[] { "Roles" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        @Html.ActionLink("Agregar", "AgregarRol", null, null, new { @class = "btn btn-sm btn-primary" })
                    </div>

                    <div class="table-responsive mt-3">
                        <table class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th class="text-secondary">Nombre</th>
                                <th class="text-secondary">Descripcion</th>
                                <th class="text-secondary text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (RolesIndexViewModel rol in Model)
                            {
                                <tr>
                                    <td>@rol.Nombre</td>
                                    <td>@rol.Descripcion</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-outline-light text-dark font-weight-bold" asp-controller="Cuentas" asp-action="DetalleRol"
                                               asp-route-id="@rol.IdRol">
                                                Detalle
                                            </a>
                                            <a class="btn btn-sm btn-outline-light text-dark font-weight-bold" asp-controller="Cuentas" asp-action="EditarRol"
                                               asp-route-id="@rol.IdRol">
                                                Modificar
                                            </a>
                                            <a class="btn btn-sm btn-outline-light text-danger" asp-controller="Cuentas" asp-action="EliminarRol"
                                               asp-route-id="@rol.IdRol">
                                                Eliminar
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
