@model IEnumerable<UsuariosIndexViewModel>

@{
    ViewData["Title"] = "Usuarios";
    ViewBag.BreadcrumbIcon = "fa-users-cog";
    ViewBag.Breadcrumbs = new[] { "Usuarios" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tablaUsuarios" class="table table-hover table-sm text-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-secondary">Nombre</th>
                                    <th class="text-secondary">Correo</th>
                                    <th class="text-secondary">Roles</th>
                                    <th class="text-secondary">Estado</th>
                                    <th class="text-secondary"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var usuario in Model)
                                {
                                    <tr>
                                        <td>@usuario.Nombre</td>
                                        <td>@usuario.Correo</td>
                                        <td>@usuario.Roles</td>
                                        <td>@usuario.Estado</td>
                                        <td class="text-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                                <a class="btn btn-sm btn-outline-light text-dark font-weight-bold"
                                                    asp-action="EditarUsuario"
                                                    asp-route-id="@usuario.IdUsuario">Modificar</a>
                                                <a class="btn btn-sm btn-outline-light text-danger"
                                                    asp-action="EliminarUsuario"
                                                    asp-route-id="@usuario.IdUsuario">Eliminar</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    @* <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script> *@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaUsuarios').DataTable({
                "lengthChange": false,
                @* "responsive": true, *@
                "language": {
                    "url": "/dataTables_es-ES.json"
                }
            });
        });
    </script>
}
