@model IEnumerable<RolesIndexViewModel>

@{
    ViewData["Title"] = "Roles";
}

<div class="container">
    <div class="row">
        <div class="col-5 align-self-center">
            <h6 class="page-title text-sc">@ViewData["Title"]</h6>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Administracion", "Home")">Administración</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Roles
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @Html.ActionLink("Agregar", "AgregarRol", null, null, new { @class = "btn btn-sm btn-primary" })

                    <div class="table-responsive mt-3">
                        <table class="table table-hover table-sm text-nowrap">
                            <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Descripcion)</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var rol in Model)
                            {
                                <tr>
                                    <td>@rol.Nombre</td>
                                    <td>@rol.Descripcion</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <a class="btn btn-sm btn-outline-light text-secondary" asp-controller="Cuentas" asp-action="EditarRol"
                                               asp-route-id="@rol.IdRol">
                                                Modificar
                                            </a>
                                            <a class="btn btn-sm btn-outline-light text-danger" asp-controller="Cuentas" asp-action="EliminarRol"
                                               asp-route-id="@rol.IdRol">
                                                Eliminar
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
